<!-- BEGIN edit -->
<div class="debugedit">
    <style>
        div.debugedit > a
        {
            position: absolute;
            right: 0;
            bottom: 0;
            background: yellow;
            border: 2px solid;
            border-radius: 4px;
            z-index: 100;
            padding: 12px 24px;
            margin: 24px;
        }
    </style>
    <%- link_to(`http://166.111.61.117:4001/ide.html#editfile-source/${page.source}:1`, '编辑此文件', {external: true})%>
</div>
<!-- END edit -->