<div id="footer">
  <hr>
  <% if(min) { %>
    <p>© <%- new Date().getFullYear() %> CloudPSS</p>
  <% } else { %>
    <p>Copyright © 2015-<%- new Date().getFullYear() %> by CloudPSS</p>
    <p><a href="http://www.miitbeian.gov.cn" target="_blank">京ICP备16015429号-1</a></p>
    <p>Powered by <a href="http://www.eiri.tsinghua.edu.cn" target="_blank">清华大学能源互联网创新研究院</a></p>
  <% } %>
</div>