<!-- BEGIN sidebar -->
<%_ if (hasSidebar) { -%>
  <aside class="sidebar"><nav class="list">
    <%- partial('partials/toc', { type: page.type }) -%>
  </nav></aside>
<%_ } else { -%>
  <aside class="sidebar" style="display: none" ></aside>
<%_ } -%>
<!-- END sidebar -->