<!-- BEGIN sidebar -->
<%_ if (hasSidebar) { _%>
  <aside class="sidebar">
    <div class="sidebar-inner">
      <nav class="list">
        <%- partial('partials/toc', { type: page.type }) _%>
      </nav>
    </div>
  </aside>
<%_ } else { _%>
  <aside class="sidebar" style="display: none" ></aside>
<%_ } _%>
<!-- END sidebar -->