<!-- BEGIN sidebar -->
<% if (hasSidebar) { %>
  <aside class="sidebar">
    <div class="sidebar-inner">
      <nav class="list">
        <%- partial('partials/toc', { type: page.type }) %>
      </nav>
    </div>
  </aside>
<% } else { %>
  <aside class="sidebar" style="display: none" ></aside>
<% } %>
<!-- END sidebar -->