<!-- BEGIN sidebar -->
<aside class="<%- page.sidebar === false ? 'no-sidebar' : '' %>">
  <nav>
    <%_ if(is_post(page)) { -%>
      <header><h1>所有文章</h1></header>
      <section>
        <%_ 
          site.posts.filter(p => !is_index(p)).sort('date', -1).each(function (p) {
            if(page.path !== p.path)
            {
              -%><li><%- link_to(url_for(p.path), title(p)) %></li><%_
            }
            else
            {
              -%><li><%- link_to('#', title(p), {class: `current`}) %></li><%_
            }
          }) 
        -%>
      </section>
    <%_ } else { -%>
      <%- partial('partials/toc') -%>
    <%_ } -%>
  </nav>
</aside>
<!-- END sidebar -->