<!-- BEGIN sidebar -->
<% const hasSidebar = !!page.type %>

<% if (hasSidebar) { %>
  <div class="sidebar">
    <div class="sidebar-inner">
      <div class="list">
        <% if (typeof site.data.sitemap[page.type] === 'string') { %>
          <h2>
            <a class="sidebar-link <%- page.path.endsWith('index.html') ? 'current' : '' %>" href="<%- url_for(page.type +'/')%>">
              <%= site.data.sitemap[page.type] %>
            </a>
          </h2>
        <% } %>
        <%- partial('partials/toc', { type: page.type }) %>
      </div>
    </div>
  </div>
<% } else { %>
  <div class="sidebar" style="display: none" ></div>
<% } %>
<!-- END sidebar -->