<!-- BEGIN toc -->
<ul class="menu-root">
  <% site.pages.toArray().filter((t)=>{return t.type === type}).sort(function(a, b){
      var ao = a.order || Number.MAX_VALUE;
      var bo = b.order || Number.MAX_VALUE;
      if(ao !== bo)
        return ao - bo;
      return a.title.localeCompare(b.title);
    }).forEach(function (p) { %>
    <li>
      <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.path === p.path ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%= p.title %></a>
    </li>
  <% }) %>
</ul>
<!-- END toc -->
