# See: https://help.aliyun.com/document_detail/153877.htm

# 注释行，以下为配置正文，每一行代表一个配置。
# 一个路径规则后边，需要有一个或多个Owner
# 最后一个匹配成功的路径生效

# 路径                                          @负责人1主邮箱          @负责人2主邮箱          ...

# 默认的负责人
**                                              @opportunity@live.in    @sykfmlrc@163.com

# 本文件的负责人
CODEOWNERS                                      @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com

# 博客的负责人
blog/**                                         @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com

# 文档的负责人
docs/meta/**                                    @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com
docs/about/**                                   @opportunity@live.in    @sykfmlrc@163.com       @1094779545@qq.com
docs/archived-content/**                        @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com
docs/developer-tools/**                         @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com
docs/guide/**                                   @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com
docs/hardware/**                                @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com
docs/software-tools/**                          @opportunity@live.in    @1094779545@qq.com      @sykfmlrc@163.com
docs/docs/software/ieslab/**                    @cupxy@foxmail.com      @704879658@qq.com       @sykfmlrc@163.com
docs/docs/software/emtlab/**                    @tanzhd@foxmail.com     @1094779545@qq.com      @sykfmlrc@163.com
docs/docs/software/xstudio/**                   @1094779545@qq.com      @opportunity@live.in    @sykfmlrc@163.com
