<a mat-button id="home" [routerLink]="'/'">CloudPSS</a>

<div id="nav-list" *ngIf="showCategories">
  <a mat-button *ngFor="let item of (nav | async)!" [href]="url(item)" (click)="onNavigate(item, $event)"
    >{{item.title}}</a
  >
</div>

<mat-form-field id="search-from" subscriptSizing="dynamic" appearance="outline" color="accent">
  <mat-icon id="search-icon" matPrefix>search</mat-icon>
  <input
    #searchInput="matInput"
    type="text"
    matInput
    ngModel
    #searchModel="ngModel"
    [matAutocomplete]="auto"
    [placeholder]="'topBar.search' | translate"
  />
  <mat-autocomplete (optionSelected)="onSelect($event.option.value)" #auto="matAutocomplete" panelWidth="auto">
    <mat-option *ngFor="let doc of searchResults | async" [value]="doc">
      <div class="search-option-content">
        <span class="title" [innerHTML]="doc.title"></span>
        <span class="subtitle" [innerHTML]="doc.subtitle"></span>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
