$marker-width: 2px;

:host {
  display: block;
}
li.toc-item {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
  padding: 0.5em 0;
  position: relative;
  pointer-events: visible;
  margin-left: $marker-width;
  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    $width: 2px;
    width: $marker-width;
    left: -$marker-width;
    transition: background-color 0.2s ease-in-out;
    background: var(--theme-foreground-dividers);
  }
  &.current::before {
    background: var(--theme-primary-text);
  }
  a {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-decoration: none;
    vertical-align: middle;
    color: var(--theme-foreground-secondary-text);

    &:hover,
    &:focus {
      color: var(--theme-primary-700) !important;
    }
    &:active {
      color: var(--theme-primary-A700) !important;
    }
  }
  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2em;
    background: linear-gradient(90deg, transparent 0, var(--theme-background-background) 80%);
  }
}
nav {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  scroll-behavior: smooth;
  pointer-events: none;
}

.mask {
  position: relative;
  height: 100%;
  &::after,
  &::before {
    content: '';
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 4em;
    z-index: 100;
    pointer-events: none;
    transition: opacity 0.5s;
  }
  &::before {
    top: 0;
    background: linear-gradient(0deg, transparent 0, var(--theme-background-background) 80%);
  }
  &::after {
    bottom: 0;
    background: linear-gradient(180deg, transparent 0, var(--theme-background-background) 80%);
  }
  &.before::before {
    opacity: 1;
  }
  &.after::after {
    opacity: 1;
  }
}
