<div class="mask" [class]="scrollInfo">
  <nav #nav class="toc" (scroll)="updateScroll()">
    <li
      *ngIf="1 <= level"
      #itemElement
      [attr.data-id]=""
      class="toc-item toc-level-1"
      [class.current]="'' === currentId"
      [style.paddingLeft.px]="1 * 8"
      [title]="(document?.frontMatter | async)?.title"
    >
      <a [routerLink]="" [fragment]="''">{{ (document?.frontMatter | async)?.title }}</a>
    </li>
    <ng-container *ngFor="let item of document?.headers | async">
      <li
        *ngIf="item.level <= level"
        #itemElement
        [attr.data-id]="item.id"
        class="toc-item toc-level-{{item.level}}"
        [class.current]="item.id === currentId"
        [style.paddingLeft.px]="item.level * 8"
        [title]="item.title"
      >
        <a [routerLink]="" [fragment]="item.id">{{ item.title }}</a>
      </li>
    </ng-container>
  </nav>
</div>
