// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$docs-primary: mat-palette($mat-indigo);
$docs-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$docs-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$docs-theme: mat-light-theme(
  (
    color: (
      primary: $docs-primary,
      accent: $docs-accent,
      warn: $docs-warn,
    ),
  )
);

$dark-primary: mat-palette($mat-blue);
$dark-accent: mat-palette($mat-pink, A200, A100, A400);
$dark-warn: mat-palette($mat-orange);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

@mixin css-map($map, $prefix) {
  @each $key, $value in $map {
    @if type-of($value) == map {
      @include css-map($value, '#{$prefix}-#{$key}');
    } @else {
      --#{$prefix}-#{$key}: #{$value};
    }
  }
}
