@import '~sanitize.css';
@import '~sanitize.css/forms';
@import '~sanitize.css/typography';

@import './config';
@import './markdown';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@mixin apply($theme) {
  @include css-map($theme, 'theme');
  @include angular-material-theme($theme);
  @include markdown-theme($theme);
}

:root {
  @include apply($docs-theme);
  @import '~prismjs/themes/prism-coy';
  @media screen {
    &[theme='dark'] {
      @include apply($dark-theme);
    }
    &[color-scheme='dark'] {
      @import '~prismjs/themes/prism-tomorrow';
    }
    background: var(--theme-background-background);
    color: var(--theme-foreground-base);
  }
}

.print-only {
  @media screen {
    display: none !important;
  }
}
.screen-only {
  @media print {
    display: none !important;
  }
}
