:host {
  display: block;
}

a.mat-list-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  position: relative;
  &.current {
    color: var(--theme-primary-text) !important;
    &::before {
      content: '';
      background: var(--theme-primary-default) !important;
      opacity: 0.15;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}
