@import '../../../styles/config.scss';

$config: mat-get-color-config($docs-theme);
$foreground: map-get($config, foreground);
$background: map-get($config, background);
$primary: map-get($config, primary);

:host {
  display: block;
}

a.mat-list-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  &.current {
    color: map-get($primary, text);
    background: map-get($background, hover);
    &:hover,
    &:focus {
      background: map-get($primary, 50);
    }
  }
}
