:host {
  display: block;
}

:host-context([color-scheme='dark']) {
  mat-nav-list {
    --selected-color: var(--theme-primary-lighter);
  }
}
:host-context([color-scheme='light']) {
  mat-nav-list {
    --selected-color: var(--theme-primary-darker);
  }
}

a.mat-mdc-list-item {
  user-select: none;
  position: relative;
  &.current {
    color: var(--selected-color, var(--theme-primary-default)) !important;
    &::before {
      content: '';
      background: var(--theme-primary-default) !important;
      opacity: 0.15;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}
