@import "_fonts"
@import "_settings"
@import "_syntax"

div.mermaid
  display:none
    
div.mermaid[data-processed]
  display: block
  overflow-x: auto
  position: relative
  margin: 1em 0
  page-break-inside: avoid
  
canvas.chartjs
  margin: 1em 0
  page-break-inside: avoid