@import "_fonts"
@import "_settings"
@import "_syntax"

code, pre, kbd
  font-family: $code-font
  font-size: $code-font-size
  background-color: $codebg
  
kbd 
  display: inline-block
  white-space: nowrap
  border-radius: 3px
  padding: 4px
  box-shadow: 0 0 2px 1px $shadow
  margin: 0 4px
  font-size: small
  background: #eee
  color: #222
  font-variant: small-caps
  font-weight: 600
  letter-spacing: 0.5px
  line-height: 1em    
  transform: translateY(-1px)
  @media print
    background: #fff
    color: #000
    box-shadow: none
    border: 2px solid $border
  &:hover
    color: #000
    box-shadow: 0 0 2px 2px $shadow

code
  display: inline-block
  color: #e96900
  padding: 0 4px
  margin: 0 2px
  border-radius: 2px
  line-height: calc(1em + 8px)
  @media print
    border: rgba(#e96900, 0.25) solid 1px

article figure.highlight
  position: relative
  background-color: $codebg
  padding: 0 
  margin: 1.2em 0
  border-radius: 4px
  box-shadow: 0 0 4px $shadow
  > figcaption
    user-select: none
    font-size: .75em
    padding: 4px 8px 0 8px 
    > span
      font-weight: 200
      color: $light
    > a
      margin: 0 12px
      float: right
      font-weight: 300
      color: lighten($theme, 25%)
      font-style: italic
  > table
    overflow-x: auto
    display: block
    padding: 0
    margin: 0
    tr > td
      padding: 0
      min-width: 0
      line-height: 1.2em
      border: none
      &.gutter
        background-color: $codebg
        border-radius: 8px
        text-align: right
        position: sticky
        left: 0
        user-select: none
        hide-for-print()
  pre
    margin: 0.8em 1em
    .line
      line-height: 1.5em
  @media print
    color: rgb(0,0,0)
    border-style: solid
    border-width: 2px 2px 2px 2px
    border-color: #e8e8e8
    page-break-inside: avoid
    box-shadow: none
    > figcaption 
      page-break-after: avoid
    .code
      pre
        color: black
        white-space: pre-wrap
        page-break-inside: avoid
        .line
          display: inline-block
          margin-left: 2ch
          text-indent: -2ch
  
article figure.highlight > figcaption
  &:before
    color: #ccc
    float: right
    font-weight: 400
    content: "code"
  .html&:before
    content: "HTML"
  .js&:before, .javascript&:before
    content: "JS"
  .ts&:before, .typescript&:before
    content: "TS"
  .bash&:before
    content: "Shell"
  .css&:before
    content: "CSS"
  .md&:before , .markdown&:before
    content: "MD"
  .plain&:before 
    content: "Plain"
  .csharp&:before
    content: "C#"
  .java&:before
    content: "Java"
  .c&:before
    content: "C"
  .cpp&:before
    content: "C++"
  .matlab&:before
    content: "MatLab"
  .vb&:before
    content: "VB"
  .yaml&:before, .yml&:before
    content: "Yaml"
  .xml&:before
    content: "XML"
  .json&:before
    content: "JSON"
  .python&:before
    content: "Python"
  .tex&:before
    content: "TeX"
