@import "_fonts"
@import "_settings"
@import "_syntax"

code, pre
  font-family: $code-font
  font-size: $code-font-size
  background-color: $codebg
  -webkit-font-smoothing: initial
  -moz-osx-font-smoothing: initial

code
  color: #e96900
  padding: 3px 5px
  margin: 0 2px
  border-radius: 2px
  white-space: nowrap

figure.highlight
  position: relative
  background-color: $codebg
  padding: 0 
  border-radius: $radius
  box-shadow: 0 0 4px $shadow
  > figcaption
    no-user-select()
    font-size: smaller
    padding: 4px 8px 0 8px 
    > span
      font-weight: 200
      color: $light
    > a
      margin: 0 12px
      float: right
      font-weight: 300
      color: lighten($theme, 25%)
      font-style: italic
  > table
    overflow-x: auto
    display: block
  > table, tr, td
    width: 100%
    border-collapse: collapse
    padding: 0
    margin: 0
  .gutter
    text-align: right
    width: 1.5em
    no-user-select()
  pre
    padding: 0.8em 1em 1.2em 1em
    margin: 0
    .line
      line-height: 1.5em
.highlight > figcaption
  &:before
    color: #ccc
    float: right
    font-size: .75em
    font-weight: 400
    content: "code"
  .html&:before
    content: "HTML"
  .js&:before, .javascript&:before
    content: "JS"
  .ts&:before, .typescript&:before
    content: "TS"
  .bash&:before
    content: "Shell"
  .css&:before
    content: "CSS"
  .md&:before , .markdown&:before
    content: "MD"
  .plain&:before 
    content: "Plain"
  .csharp&:before
    content: "C#"
  .java&:before
    content: "Java"
  .c&:before
    content: "C"
  .cpp&:before
    content: "C++"
  .matlab&:before
    content: "MatLab"
  .vb&:before
    content: "VB"
  .yaml&:before, .yml&:before
    content: "Yaml"
  .xml&:before
    content: "XML"
  .json&:before
    content: "JSON"
  .python&:before
    content: "Python"
  .tex&:before
    content: "TeX"

@media print
  code
    padding: 1px 2px
    border: rgba(#e96900, 0.25) solid 0.25px
  figure.highlight
    color: rgb(0,0,0)
    border-style: solid
    border-width: 2px 2px 2px 2px
    border-color: #e8e8e8
    page-break-inside: avoid
    box-shadow: none
    > figcaption 
      page-break-after: avoid
    > table
      page-break-inside: avoid
    .gutter
      display: none
    .code
      pre
        color: rgb(0,0,0)
        background-color: rgb(255,255,255)
        white-space: pre-wrap
        page-break-inside: avoid
        span.line:before
          content: "  "
  
