@import "_settings"
@import "_codeblock"
@import "_quoteblock"
@import "_video"
@import "_katex"
@import "_tablefigure"

*
  box-sizing: border-box
  -webkit-overflow-scrolling: touch

html
  font-family: $body-font
  line-height: 1.15
  font-size: $body-font-size
  color: $medium
  background-color: white
  @media (max-width: $mobile-width)
    main
      font-size: @font-size * 0.9
    
h1, h2, h3, h4
  font-weight: 600
  color: $dark

hr
  border-color: $border
  color: rgba(0,0,0,0)
  border-width: 1px 0
  border-top: solid 

b, strong
  font-weight: bolder

p, dd
  word-spacing: 0.05em

abbr[title]
  cursor: help   
  text-decoration: none;
  border-bottom: 1px dotted #777
  @media print 
    &:after
      content: "(" attr(title) ")"
      color: #777
      
br
  word-spacing: 0
   
a
  text-decoration: none 
  &.footnote-backref
    user-select: none

.print-only
  @media screen
    display: none
.screen-only
  @media print
    display: none

@media print
  main
    color: #000
  mark
    border: 2px solid yellow !important
  h1, h2, h3, h4, h5
    color: #000
    page-break-after: avoid
  h2 + p
    page-break-before: avoid
    
  a.footnote-backref, a.markdownIt-Anchor
    display: none
  a:link:after, a:visited:after 
    content:" [" attr(href) "] "
  sup.footnote-ref > a
    &:link:after, &:visited:after
      content:""
