@import "_settings"
@import "_codeblock"
@import "_quoteblock"
@import "_video"
@import "_katex"

body
  font-family: $body-font
  font-size: $body-font-size
  color: $medium
  background-color: white
  -webkit-text-size-adjust: none
  @media (max-width: $mobile-width)
    #main
      font-size: @font-size * 0.9
    
h1, h2, h3, h4
  font-weight: 600
  color: $dark

figure
  margin: 1.2em 0

hr
  border-color: $border
  color: rgba(0,0,0,0)
  border-width: 1px 0
  border-top: solid 

p, dd
  word-spacing: 0.05em

abbr[title]
  cursor: help   
  text-decoration: none;
  border-bottom: 1px dotted #777
  @media print 
    &:after
      content: "(" attr(title) ")"
      color: #777
      
br
  word-spacing: 0
   
a
  text-decoration: none 
  &.footnote-backref
    no-user-select()

table:not(.highlight)
  border-spacing: 0
  border-collapse: collapse
  margin: 1.2em auto
  padding: 0
  text-align: left
  thead th
    position: sticky
    z-index: 100
    top: -.2em
    font-weight: bold
    background: $border
  td, th
    min-width: 80px
    line-height: 1.5em
    padding: .4em .8em
    border: 1px solid $border
  th, tr:nth-child(2n)
    background-color: #f8f8f8
    code
      background-color: darken($codebg, 5)
      
.print-only
  @media screen
    display: none
.screen-only
  @media print
    display: none

@media print
  body, #main
    color: rgb(0,0,0)
  mark
    border: 2px solid yellow !important
  h1,h2,h3,h4,h5
    color: rgb(0,0,0)
    page-break-after: avoid
    page-break-before: avoid
  img
    page-break-inside: avoid
  h2+p
    page-break-before: avoid
  a.footnote-backref
    display: none
  a:link:after, a:visited:after { content:" [" attr(href) "] "; }
  sup.footnote-ref > a, a.markdownIt-Anchor
    &:link:after, &:visited:after
       content:""
