@import "_fonts"
@import "_settings"
@import "_codeblock"

body
  font-family: $body-font
  font-size: $body-font-size
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $medium
  background-color: white
  margin: 0
  &.docs
    padding-top: $header-height

@media screen and (max-width: 900px)
  body.docs
    padding-top: 0

a
  text-decoration: none
  color: $medium

img
  border: none

h1, h2, h3, h4, strong
  font-weight: 600
  color: $dark

hr
  border-color: $border
  color: rgba(0,0,0,0)
  border-width: 1px 0
  border-top: solid 

em
  color: $light

p
  word-spacing: 0.05em

a.button
  padding: 0.75em 2em
  border-radius: 2em
  display: inline-block
  color: #fff
  background-color: lighten($theme, 8%)
  transition: all .15s ease
  box-sizing: border-box
  border: 1px solid lighten($theme, 8%)
  &.has-icon
    position: relative
    text-indent: 1.4em;
    > svg
      position: absolute
      left: 0.4em
      top: 0.4em
      width: 2em
  &.white
    background-color: #fff
    color: $theme
  &.gray
    background-color: #f6f6f6
    color: $light
    border-color: #f6f6f6

#main
  position: relative
  z-index: 1
  padding: 0 60px 30px
  overflow-x: hidden

#nav
  .nav-link
    cursor: pointer
  .nav-dropdown-container
    .nav-link
      &:hover:not(.current)
        border-bottom: none
    &:hover
      .nav-dropdown
        display: block
    &.language, &.ecosystem
      margin-left: 20px
    .arrow
      pointer-events: none
  .nav-dropdown
    display: none
    box-sizing: border-box
    max-height: "calc(100vh - %s)" % $header-height
    overflow-y: auto
    position: absolute
    top: 100%
    right: -15px
    background-color: #fff
    padding: 10px 0
    border: 1px solid $border
    border-bottom-color: #ccc
    text-align: left
    border-radius: 4px
    white-space: nowrap
    li
      line-height: 1.8em
      margin: 0
      display: block
      > ul
        padding-left: 0
      &:first-child
        h4
          margin-top: 0
          padding-top: 0
          border-top: 0
    a, h4
      padding: 0 24px 0 20px
    h4
      // text-transform: uppercase
      margin: .45em 0 0
      padding-top: .45em
      border-top: 1px solid #eee
    a
      color: lighten($dark, 10%)
      font-size: .9em
      display: block
      &:hover
        color: $theme
  .arrow
    display: inline-block
    vertical-align: middle
    margin-top: -1px
    margin-left: 6px
    margin-right: -14px
    width: 0
    height: 0
    border-left: 4px solid transparent
    border-right: 4px solid transparent
    border-top: 5px solid #ccc

sup.beta.beta
  font-size: .6em
  margin-left: .7em
  text-transform: uppercase
  opacity: .6

dl, blockquote
  background-color: $quotebg
  border: 0.1px solid $quotebd
  border-left: 4px solid $theme
  position: relative
  code
    background-color: #efefef
  em
    color: $medium
  p
    margin: 1em 0 0 0
    padding-bottom: 0
  &:before
    no-user-select()
    border-bottom-right-radius: $radius
    border-top-right-radius: $radius
    position: absolute
    top: 14px
    left: -12px
    color: #fff
    width: 20px
    height: 20px
    border-radius: 100%
    text-align: center
    line-height: 20px
    font-weight: bold
    font-family: $logo-font
    font-size: 14px

$defcolor = #AB82FF
dl
  margin: 2em 0
  padding: 8px 12px 8px 20px
  border-left-color: $defcolor
  dt
    font-size: larger
    font-weight: 700
  dd
    margin-left: 12px
    margin-top: 8px
  &:before
    content: "🔍︎"
    background-color: $defcolor

blockquote
  margin: 1em 0
  padding: 2px 12px 8px 20px
  border-left-color: $theme
  &.tip
    border-left-color: $red
    &:before
      content: "!"
      background-color: $red
  &.success
    border-left-color: rgb(19,168,35)
    &:before
      content: "✓"
      background-color: rgb(19,168,35)

abbr
  text-decoration: solid
  &:after
    content: "[?]"
    vertical-align: super
    font-size: xx-small

@media print
  body
    color: rgb(0,0,0)
  mark
    text-decoration-line: underline !important
    text-decoration-color: yellow !important
    text-decoration-style: wavy
  h1,h2,h3,h4,h5
    color: rgb(0,0,0)
    page-break-after: avoid
    page-break-before: avoid
  img
    page-break-inside: avoid
  h2+p
    page-break-before: avoid
  a:link:after, a:visited:after { content:" [" attr(href) "] "; }
  a.markdownIt-Anchor:link:after, a.markdownIt-Anchor:visited:after { content:""; }
  dl
    page-break-inside: avoid
    background-color: rgb(255,255,255)
    border: 2px solid #e8e8e8
    border-left: 4px solid $defcolor
    &:before
      display: none
    dt, dd
      page-break-inside: avoid
  
