// font faces
$body-font = "Source Han Sans SC", "Noto Sans", "PingFang SC", "Microsoft Yahei", "Source Han Sans", "Helvetica Neue", Arial, sans-serif
$logo-font = "Source Han Sans SC", "Noto Sans", "PingFang SC", "Microsoft Yahei UI", "Source Han Sans", "Helvetica Neue", Arial, sans-serif
$code-font = "Sarasa Mono SC", "Source Han Sans HW", "Monaco", "Consolas", "courier",  monospace, monospace, sans-serif

// font sizes
$body-font-size = 15px
$code-font-size = .8em