
@import "_settings"

footer.page-footer.min
  color: $light
  text-align: right 

footer.page-footer
  border-top: 0.1px $border solid
  margin: 48px -48px
  padding: 0 48px
  text-align: center 
  .section
    white-space: nowrap
  .section-sep
    width: 1em
    white-space: pre
  p
    padding-bottom: 0 !important
  hr
    margin: 40px -40px 0 -40px
  .gravatar
    height: 1.8em
    vertical-align: bottom
    border-radius: 1em
    border: 0.1px solid $border

    
@media print
  footer.page-footer
    page-break-inside: avoid