
@import "_settings"

$page-footer-inset = 8px

footer.page-footer
  color: $light
  user-select: none
  border-top: 0.2px $border solid
  margin: $page-footer-inset $page-footer-inset * -1
  padding: 0 $page-footer-inset
  *
    text-align: center 
  &.min
    *
      text-align: right 
    .author
      cursor: pointer
      color: lighten($theme, 0.2)
      > img
        box-shadow: 0 0 2px $shadow
        height: 1.8em
        border-radius: 100%
        vertical-align: middle
    > .contact
      margin-left: -0.5em
      > span
        margin-left: 0.5em
  span
    white-space: nowrap
  a
    color: @color
    font-weight: unset
    
  @media print
    page-break-inside: avoid