
@import "_settings"

$page-footer-inset = 8px

body > footer
  hide-for-print()
  color: $light
  user-select: none
  border-top: 0.2px $border solid
  margin: 8px 0
  padding: 0 40px
  @media (max-width: $mobile-width)
    padding: 0 8px
  
  text-align: center 
  &.min
    text-align: right 
    a[rel=author]
      color: lighten($theme, 0.2)
      > img
        box-shadow: 0 0 2px $shadow
        height: 1.8em
        border-radius: 100%
        vertical-align: middle
    > .contact
      margin-left: -0.5em
      > span
        margin-left: 0.5em
  span, a
    white-space: nowrap
  a
    color: @color
    font-weight: unset