
@import "_settings"

header.page-header
  no-user-select()
  box-shadow: 0 0 16px $shadow
  background-color: #fff
  height: $header-inner-height
  padding: $heading-padding-vertical 60px
  z-index: 100
  position: fixed
  width: 100%
  top: 0

#nav
  list-style-type: none
  margin: 0
  padding: 0
  position: fixed
  right: 30px
  top: $heading-padding-vertical
  height: $header-inner-height
  line-height: $header-inner-height
  #nav-toc
    padding: 0
    margin: 0
    > li
      display: inline-block
      position: relative
      padding: 0 0.8em
    .nav-link
      padding-bottom: 3px
      white-space: nowrap
      &:hover, &.current
        border-bottom: 3px solid $theme

  #search-form
    position: absolute
    transform: translateX(-100%);
    padding: 0 10px;
    > #search-query
      font-size: 1em
      height: 30px
      line-height: 30px
      box-sizing: border-box
      padding: 0 15px 0 30px
      border: 1px solid #e3e3e3
      color: $dark
      outline: none
      border-radius: 15px
      transition: border-color .2s ease
      background: #fff url(../images/search.png) 8px 5px no-repeat
      background-size: 20px
      &:focus
        border-color: $theme
    > #search-suggest
      display: none
      position: absolute
      padding: 4px
      right: 0
      left: 0
      margin: 0 10px
      border: 2px solid $border
      background: white
      &.open, &:hover, &:focus
        display: block  
      &:focus-within
        display: block  
      > span:before
        text-align: center
        display: block
        color: $light
      > .no-result:before
          content: '没有匹配的结果'
      > .loading:before
          content: '正在加载索引'
      > .failed:before
          content: '加载索引失败，请刷新页面'
      > li
        display: block
        position: relative
        &:hover
          background: #eee
        > a
          padding: 0 8px 
          display: block

#logo
  display: inline-block
  font-size: 1.5em
  height: $header-inner-height
  color: $dark
  font-family: $logo-font
  font-weight: 500
  span 
    vertical-align: middle
  img
    vertical-align: top
    margin-right: 6px
    width: $header-inner-height
    height: $header-inner-height


.mobile-header-button
  display: none
  position: absolute
  width: $mobile-header-inner-height
  height: $mobile-header-inner-height
  top: $mobile-heading-padding-vertical
  z-index: 1000
#mobile-menu-button
  left: 12px
  background: url(../images/menu.png) center center no-repeat
  background-size: 24px
#mobile-toc-button
  right: 12px
  background: url(../images/toc.png) center center no-repeat
  background-size: 24px

@media print
  header.page-header
    display: none

@media screen and (max-width: 1300px)
  .content.with-sidebar
    margin-left: 290px
  header.page-header
    padding: $heading-padding-vertical 12px
  #nav
    right: 8px
    #nav-toc
      > li
        padding: 0 0.4em

@media screen and (max-width: 1000px)
  #logo span 
    display: none

@media screen and (max-width: 900px)
  header.page-header
    height: $mobile-header-inner-height
    padding: $mobile-heading-padding-vertical 0px
  #logo
    height: $mobile-header-inner-height
    margin-left: 48px
    img
      margin-right: 4px
      width: $mobile-header-inner-height
      height: $mobile-header-inner-height
  .no-menu #logo
    margin-left: 12px
  .mobile-header-button
    display: block
  #nav
    top: $mobile-heading-padding-vertical
    height: $mobile-header-inner-height
    line-height: $mobile-header-inner-height
    .nav-link
      padding-bottom: 1px
      &:hover, &.current
        border-bottom: 2px solid $theme
    #search-form
      font-size: 0.8em
      right: 32px
      transform: none
      top: 0
      > #search-query
        height: 20px
        line-height: 20px
        border-radius: 15px
        background: #fff url(../images/search.png) 4px 0px no-repeat
        background-size: 20px
    #nav-toc
      display: inline-grid
      padding: 10px
      background: rgba(255,255,255,0.9)
      position: fixed
      top: $mobile-header-height + 4px
      right: -100%
      transition: right .3s ease-in-out
      > li
        padding: 0.25em 0.2em
      &.open
        right: 8px
        box-shadow: 0 0 10px $shadow
