
@import "_settings"

body > header
  hide-for-print()
  user-select: none
  box-shadow: 0 0 16px $shadow
  background-color: #fff
  width: 100%
  z-index: 10000
  position: fixed
  top: 0
  transition: all $size-transition
  height: $header-height
  padding: $heading-padding-vertical 0
  &.hide
    top: -($header-height + 16px)
  
  @media (max-width: $mobile-width)
    height: $mobile-header-height
    padding: $mobile-heading-padding-vertical 0px
    &.hide
      top: -($mobile-header-height * 2 + 16px)

  .button
    display: block
    transition: transform $size-transition
    position: absolute
    width: $mobile-header-height
    height: $mobile-header-height
    top: 0
    z-index: 1000
    background-position: center
    background-size: 24px
    background-repeat: no-repeat
    &:hover, &:focus
      background-color: #ddd 
    &:active
      background-color: #eee 
    &#sidebar
      transform: translateX(-150%)
      left: 0
      background-image: url(../images/sidebar.png)
    &#nav
      transform: translateX(150%)
      right: 0
      background-image: url(../images/toc.png) 
    @media screen and (max-width: $mobile-width)
      transform: translateX(0) !important
      
  &.no-sidebar .button#sidebar
    display: none

  #logo
    position: absolute
    transition: all $size-transition
    display: flex
    align-items: center
    left: 100px
    height: $header-inner-height
    img
      height: 75%
      transition: all $size-transition
    @media (max-width: 1300px)
      left: 16px
    @media (max-width: $mobile-width)
      left: 48px
      height: $mobile-header-inner-height
      img
        height: 100%

  nav
    position: absolute
    right: 30px
    line-height: 40px
    display: flex
    height: $header-inner-height
    transition: right $size-transition, padding $size-transition
    @media (max-width: 1300px)
      right: 8px

    @media (max-width: $mobile-width)
      position: fixed
      flex-direction: column
      height: 100%
      width: $sidebar-width
      top: 0
      right: - @width - 10px
      z-index: 1000
      padding: $mobile-header-height + 16px 32px 16px
      background: $sidebg
      &.open
        right: 0
      box-shadow: 0 0 10px $shadow
      transition: all $size-transition

    > form#search
      position: relative
      margin: auto 12px
      transition: width .2s ease
      height: 32px
      width: 160px
      &.open
        @media not all and (max-width: $mobile-width)
          width: 240px
        > #query
          border-color: $theme
        > #suggest
          opacity: 1
          visibility: visible
      @media (max-width: $mobile-width)
        position: relative
        transform: none
        width: auto
        left: 0
        right: 0
        margin: 0 0 12px
      > #query
        display: block
        transition: border-color .2s ease
        font-size: 1em
        height: 100%
        width: 100%
        padding: 0 15px 0 30px
        border: 1px solid #e3e3e3
        color: $dark
        outline: none
        border-radius: 2em
        background: white
      > label
        top: 0
        left: 0
        height: 100%
        width: 100%
        background: url(../images/search.png) no-repeat 8px center/20px
        position: absolute
        pointer-events: none
      > #suggest
        visibility: hidden
        opacity: 0
        transition: all .1s ease
        position: absolute
        padding: 4px
        left: 0
        right: 0
        margin: 4px 0
        border: 2px solid $border
        background: white
        > span
          text-align: center
          display: block
          color: $light
        > li
          display: block
          position: relative
          line-height: 1em
          > a
            padding: 8px
            color: $medium
            display: block
            &:hover, &:focus
              background: #eee
            > span
              display: block
              line-height: 1.2em
              white-space: nowrap
              text-overflow: ellipsis
              overflow: hidden
            > span[role='category']
              margin: 4px 0 0 0 
              font-size: 0.8em
              color: $light
          @media (max-width: $mobile-width)
            font-size: 0.95em
            > a
              padding: 4px

    > ul
      display: flex
      align-items: center
      @media (max-width: $mobile-width)
        display: block
      list-style-type: none
      padding: 0
      margin: 0
      > li
        transition: margin $size-transition
        display: block
        margin: 0 0.8em
        @media (max-width: 1300px)
          margin: 0 0.4em
        @media (max-width: $mobile-width)
          margin: 0
      .nav-link
        color: $medium
        padding-bottom: 3px
        white-space: nowrap
        border-bottom: 3px solid transparent
        transition: border-color 0.1s ease
        &:hover, &.current
          border-bottom: 3px solid $theme
      #lang-select
        position: relative
        background: url(../images/lang.png) no-repeat center/24px
        width: 40px
        height: 40px
        &:hover, &:focus
          background-color: #ddd 
        &:active
          background-color: #eee 
        select
          display: none
        .custom-select-container
          width: 100%
          height: 100%
          .custom-select-panel
            overflow-y: hidden
            width: 120px
            right: 0
            box-shadow: 0 0 5px $shadow
          .custom-select-opener
            opacity: 0
            width: 100%
            height: 100%
            overflow: hidden
          .custom-select-option
            padding: 1em
            line-height: 20px
            &.is-selected
              &::before
                display: none
              &::after
                content: '✔'
                float: right
        @media screen and (max-width: $mobile-width)
          position: absolute
          top: 0
          left: 0
          .custom-select-container .custom-select-panel
            left: 4px
