
@import "_settings"

header.page-header
  hide-for-print()
  user-select: none
  box-shadow: 0 0 16px $shadow
  background-color: #fff
  height: $header-inner-height
  padding: $heading-padding-vertical 0
  z-index: 10000
  position: fixed
  top: 0
  left: 0
  right: 0
  transition: padding, height $size-transition
  
  @media screen and (max-width: $mobile-width)
    height: $mobile-header-inner-height
    padding: $mobile-heading-padding-vertical 0px
            
  #search-form
    position: absolute
    z-index: 1000
    transform: translateX(calc(-100% - 12px))
    margin: auto
    transition: width .2s ease
    top: 0
    bottom: 0
    height: 32px
    width: 120px
    &.open
      width: 240px
      > #search-query
        border-color: $theme
      > #search-suggest
        display: block
    @media screen and (max-width: $mobile-width)
      height: $mobile-header-inner-height
      font-size: 0.8em
      right: 40px
      transform: none
      width: 100px
      &.open
        width: 200px
    > #search-query
      display: block
      box-sizing: border-box
      transition: border-color .2s ease
      font-size: 1em
      height: 100%
      width: 100%
      padding: 0 15px 0 30px
      border: 1px solid #e3e3e3
      color: $dark
      outline: none
      border-radius: 2em
      background: white url(../images/search.png) no-repeat 8px center / 20px
      @media screen and (max-width: $mobile-width)
        background-position-x: 4px
    > #search-suggest
      display: none
      position: absolute
      padding: 4px
      left: 0
      right: 0
      margin: 4px 0
      border: 2px solid $border
      background: white
      > span:before
        text-align: center
        display: block
        color: $light
      > .no-result:before
          content: '没有匹配的结果'
      > .prompt:before
          content: '输入内容以搜索'
      > .loading:before
          content: '正在加载索引'
      > .failed:before
          content: '加载索引失败，请刷新页面'
      > li
        display: block
        position: relative
        line-height: 1em
        > a
          padding: 8px
          color: $medium
          display: block
          &:hover, &:focus
            background: #eee
          > span
            display: block
            line-height: 1.2em
            white-space: nowrap
            text-overflow: ellipsis
            overflow: hidden
          > span[role='category']
            margin: 4px 0 0 0 
            font-size: 0.8em
            color: $light
      @media screen and (max-width: $mobile-width)
        > li
          line-height: 1.4em
          > a 
            font-size: 1.2em
            padding: 4px
              
  .mobile-header-button
    display: block
    transition: transform $size-transition
    position: absolute
    width: $mobile-header-height
    height: $mobile-header-height
    top: 0
    z-index: 1000
    background-position: center
    background-size: 24px
    background-repeat: no-repeat
    &:hover, &:focus
      background-color: #ddd 
    &:active
      background-color: #eee 
    &#mobile-menu-button
      transform: translateX(-150%)
      left: 0
      background-image: url(../images/menu.png)
    &#mobile-toc-button
      transform: translateX(150%)
      right: 0
      background-image: url(../images/toc.png) 
    @media screen and (max-width: $mobile-width)
      transform: translateX(0) !important

  #logo
    left: 100px
    position: absolute
    display: inline-block
    font-size: 1.5em
    height: $header-inner-height
    line-height: @height
    vertical-align: middle
    color: $dark
    font-family: $logo-font
    font-weight: 500
    transition: all $size-transition
    background: url(../images/logo.png) no-repeat
    background-size: contain
    &:after
      content: attr(title)
      display: inline
      margin-left: 48px
      transition: margin,opacity $size-transition
    @media screen and (max-width: 1300px)
      left: 16px
    @media screen and (max-width: $mobile-width)
      left: 48px
      font-size: 18px
      height: $mobile-header-inner-height
      line-height: @height
      &:after
        margin-left: 32px
          

  
  #nav
    list-style-type: none
    margin: 0
    padding: 0
    position: fixed
    right: 30px
    top: $heading-padding-vertical
    height: $header-inner-height
    line-height: $header-inner-height
    transition: top, height, right, line-height $size-transition
    #nav-toc
      padding: 0
      margin: 0
      > li
        transition: padding $size-transition
        display: inline
        position: relative
        padding: 0 0.8em
      .nav-link
        color: $medium
        padding-bottom: 3px
        white-space: nowrap
        border-bottom: 3px solid transparent
        transition: border-color 0.1s ease
        &:hover, &.current
          border-bottom: 3px solid $theme
    @media screen and (max-width: 1300px)
      right: 8px
      #nav-toc
        > li
          padding: 0 0.4em

    @media screen and (max-width: $mobile-width)
      top: $mobile-heading-padding-vertical
      height: $mobile-header-inner-height
      line-height: $mobile-header-inner-height
      .nav-link
        padding-bottom: 1px
        &:hover, &.current
          border-bottom: 2px solid $theme
              
      #nav-toc
        padding: $mobile-header-height + 16px 20px 12px
        background: rgba(255,255,255,0.9)
        position: fixed
        transform: translateX(calc(100% + 10px))
        top: 0
        right: 0
        bottom: 0
        min-width: 200px
        box-shadow: 0 0 10px $shadow
        transition: box-shadow,transform .3s ease-in-out
        > li
          display: block
          padding: 0.25em 0.2em
        &.open
          transform: translateX(0)