@import "_fonts"
@import "_settings"

.katex-error
  background: red
  color: white
p.katex-block
  page-break-before: avoid
  page-break-inside: avoid
  position: relative
  > .katex-display
    margin: 0
    > .katex
      overflow-x: visible
      overflow-y: hidden
span.katex
  &:before, &:after
    content: ' '
    no-user-select()