@import "_settings"

@media screen
  html, body
    margin: 0
    padding: 0
    min-width: $page-min-width
  
  main
    $padding = 80px
    $mobile-padding = 40px
    transition: padding $size-transition, margin $size-transition 
    max-width: $mobile-width - $padding * 2
    padding: $padding 
    margin: $header-height auto 0
    @media (max-width: $mobile-width)
      margin-top: $mobile-header-height
      padding: $mobile-padding
    @media (max-width: 720px)
      padding: $mobile-padding 20px 
    @media (max-width: 480px)
      padding: $mobile-padding 8px 
    &.with-sidebar
      @media (min-width: $mobile-width)
        padding-left: $sidebar-width + $padding