@import "_settings"

@media screen
  html, body
    margin: 0
    padding: 0
    min-width: $page-min-width
  
  main
    $padding = 80px
    $mobile-padding = 40px
    transition: all $size-transition 
    margin: $header-height 0 0
    padding: $padding 
    article
      margin: auto
      max-width: $mobile-width - $padding * 2
    @media (max-width: $mobile-width)
      margin-top: $mobile-header-height
      padding: $mobile-padding
    @media (max-width: 720px)
      padding: $mobile-padding 20px 
    @media (max-width: 480px)
      padding: $mobile-padding 8px
      
  main.with-sidebar
    margin-left: $sidebar-width
    @media (max-width: $mobile-width)
      margin-left: 0