@import "_settings"
  
div.pswp
  hide-for-print()
  .pswp__caption__center
    text-align: center
  .pswp__ui--fit .pswp__top-bar, .pswp__ui--fit .pswp__caption 
    background-color: rgba(255, 255, 255, 0.3)
  .pswp__top-bar, .pswp__caption 
    background-color: rgba(255, 255, 255, 0.5)