@import "_settings"

aside.sidebar
  &.no-sidebar
    display: none
  user-select: none
  hide-for-print()
  transition: all $size-transition
  box-shadow: 0 0 8px $shadow
  position: fixed
  z-index: 9000
  top: 0
  bottom: 0
  width: $sidebar-width 
  background: white
  overflow-x: hidden
  overflow-y: auto
  margin-top: $header-height
  nav
    margin: 48px 20px 40px 40px
  h1
    font-size: 1.5em
  h2
    font-size: 1.3em
  h3
    font-size: 1.1em
  h4, h5, h6
    font-size: 1em
  li, .menu-cat-name
    margin: 0
    padding: 8px 0 0 0
  ul
    list-style-type: none
    margin: 0
    padding: 0
    line-height: 1.5em
    &.menu-root
      padding-left: 0
    &.menu-cat
      padding-left: 8px
      > .menu-cat-name
        color: $medium
        margin-left: -0.5em
        font-weight: 550
        margin-left: -8px
        &:only-child
          display: none
    &.menu-sub
      font-size: .85em
      li
        color: $light
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      .section-link
        color: $light
        padding-left: 6px
        margin-left: 2px
        border-left-width: 2px
        &:hover, &:focus
          color: $theme
        &.active
          border-color: $theme
      > ul .section-link
        padding-left: 14px
  .sidebar-link, .section-link
    border: 0px solid transparent
    transition: all .2s ease
  .sidebar-link
    border-bottom-width: 2px
    color: $medium
    &.current
      font-weight: 600
      color: $theme
    &:hover, &:focus
      border-color: $theme

  @media screen and (max-width: $mobile-width)
    background: #f9f9f9
    transform: translateX(calc(-100% - 10px))
    margin-top: $mobile-header-height
    nav
      margin: 24px 10px 20px 20px
    &.open
      transform: translate(0, 0)