@import "_settings"

aside.sidebar
  box-shadow: 0 0 10px rgba(0,0,0,.2)
  position: fixed
  z-index: 10
  top: $header-height
  left: 0
  bottom: 0
  overflow-x: hidden
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  -ms-overflow-style: none
  h2
    margin-top: .2em
  ul
    list-style-type: none
    margin: 0
    line-height: 1.5em
    padding-left: 1em
  li
    margin-top: .5em
  .sidebar-inner
    width: 260px
    padding: $content-padding-top + 10px 20px 60px 60px
  .version-select
    vertical-align: middle
    margin-left: 5px
  .menu-root
    padding-left: 0
  .menu-sub
    font-size: .85em
  .sidebar-link
    color: $light
    &.current
      font-weight: 600
      color: $theme
    &.new
      &:after
        content: "NEW"
        display: inline-block
        font-size: 10px
        font-weight: 600
        color: #fff
        background-color: $theme
        line-height: 14px
        padding: 0 4px
        border-radius: 3px
        margin-left: 5px
        vertical-align: middle
        position: relative
        top: -1px
    &:hover
      border-bottom: 2px solid $theme
  .section-link
    &.active
      font-weight: bold
      color: $theme
  .main-menu
    margin-bottom: 20px
    display: none
    padding-left: 0
  .nav-dropdown
    h4
      font-weight: normal
      margin: 0

@media screen and (max-width: 900px)
  aside.sidebar
    background-color: #f9f9f9
    top: $mobile-header-height
    transition: all .4s cubic-bezier(0.4, 0, 0, 1)
    transform: translate(-280px, 0)
    .sidebar-inner
      padding: $content-padding-top + 10px 10px 40px 20px
      box-sizing: border-box
    .sidebar-inner-index
      padding: 10px 10px 10px 20px
    .main-menu
      display: block
    &.open
      transform: translate(0, 0)

@media print
  aside.sidebar
    display: none