@import "_settings"

body > aside
  &.no-sidebar
    display: none
  user-select: none
  hide-for-print()
  transition: all $size-transition
  box-shadow: 0 0 8px $shadow
  position: fixed
  z-index: 9000
  top: 0
  left: 0
  height: 100%
  width: $sidebar-width 
  background: white
  padding-top: $header-height
  &.hide
    transform: translateX(- $sidebar-width - 10px)
  @media (max-width: $mobile-width)
    background: $sidebg
    padding-top: $mobile-header-height
    left: - $sidebar-width - 10px
    &.open
      left: 0
  
  > nav
    transition: all $size-transition
    padding: 48px 24px
    position: relative
    overflow: hidden auto
    height: 100%
    line-height: 2em
    @media (max-width: $mobile-width)
      padding: 24px
    a
      border: 0px solid transparent
      transition: all .2s ease
      color: $medium
      border-width: 0 0 2px
      &.current
        font-weight: 600
        color: $theme
      &:hover, &:focus
        border-color: $theme
    > header h1
      margin: 1em 0
      font-size: 1.5em
    > section
      h1
        font-size: 1.3em
      h2
        font-size: 1.1em
      h3, h4, h5, h6
        font-size: 1em
      h1, h2, h3, h4, h5, h6
        margin: 0 0 0 -8px
        color: $medium
        font-weight: 550
        &:only-child
          display: none
      li
        margin: 0
        list-style-type: none
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      ul
        margin: 0
        padding: 0 0 0 8px
      ul.section-links
        padding: 0
        font-size: 0.85em
        line-height: 2em
        a
          color: $light
          padding-left: 6px
          border-width: 0 0 0 2px
          &:hover, &:focus
            color: $theme
            border-color: transparent
          &.active
            border-color: $theme
        > ul
          padding: 0
          a
            padding-left: 14px