.gutter pre
  color: #999

pre, code
  color: #525252
  .formula
    text-decoration: gray dotted underline
  .number
    color: #44624b
  .comment, .variable 
    color: #008000
  .quote
    color: #239f23
  .code
    color: #444400

  .keyword, .selector-tag, .built_in, .name, .tag 
    color: #00f

  .string, .title , .attribute, .literal, .template-tag, .template-variable, .type, .addition 
    color: #a31515
  .section
    color: #5961b6

  .deletion, .selector-attr, .selector-pseudo, .meta 
    color: #2b91af

  .doctag 
    color: #808080

  .attr 
    color: #c63f7c

  .bullet
    color: #00b0e8
  .symbol
    color: #51afcd
  .link
    color: #1ea7d3
    text-decoration: #1ea7d3 dashed underline


  .emphasis 
    font-style: italic

  .strong 
    font-weight: bold
