@import "_settings"

article table:not(.highlight)
  border-spacing: 0
  border-collapse: collapse
  margin: 1.2em auto
  padding: 0
  text-align: left
  > caption
    caption-style(table, "表 ")
  code
    background-color: darken($codebg, 5)
  td, th
    min-width: 80px
    line-height: 1.5em
    padding: .4em .8em
    border: 1px solid $border
  > tbody:not(:last-child) > tr:last-of-type > td
    border-bottom-width: 2px
  > thead > tr:last-of-type > th
    border-bottom-width: 2px
    @media screen
      position: sticky
      z-index: 100
      top: -.2em
      font-weight: bold
      border-color: darken($border, 10)
  @media screen
    > thead > tr > th
      border-color: darken($border, 10)
      background-color: $border
    > thead > tr:nth-last-child(2n) > th
      background-color: lighten($border, 5)
    > tbody > tr:nth-child(2n) > td
      background-color: lighten($border, 5)