@import "_fonts"
@import "_settings"

.video-container, .owl-video
  no-user-select()
  margin: 1em 0
  width: 100%
  position: relative
  > iframe, embed
    margin: 0 !important 
    width: 100% !important
    height: 100% !important
    position: absolute !important
  > .video-hint
    font-weight: bolder
    color: $theme
    &:before, &:after
      color: black
    &:before
      content: "（来自 "
    &:after
      content: " 的视频）"

@media screen
  .video-container, .owl-video
    padding:0 0 56.25% 0
    height: 0
    > .video-hint
      display: none

@media print
  .video-container, .owl-video
    page-break-inside: avoid
    > iframe, embed
      display: none !important