@import "_common"
@import "_animations"
@import "_header"
@import "_footer"
@import "_sidebar"
@import "_modal"
@import "_chart"
@import "_position"
@import "_pswp"
@import "_notranslationhint"

#buorg.buorg
  no-user-select()
@media print
  #buorg.buorg
    display: none

article
  .text-align-center
    text-align: center
  img, svg
    max-width: 100%
  .owl-media > img, img[alt]:not([alt=""])
    display: block
    margin: auto
    
  sup.footnote-ref > a
    display: inline-block
    
  h1
    font-size: 2em
    margin: 0 0 1em
  section.title
    margin: 0 0 24px
    > h1
      margin: 0
    > p.categories
      margin: 12px 0
      font-size: 0.75em
      color: $light
      user-select: none
      > span
        white-space: nowrap
      > span[role='separator']
        color: lighten($light, 0.2)
        &:before
          content: ' ➤ ' 
          white-space: normal
  h2, h3, h4, h5, h6
    margin: 2em 0 0.5em
    > a.markdownIt-Anchor
      &:before
        hide-for-print()
        user-select: none
        transition: opacity 0.1s ease
        opacity: 0
        content: "#"
        color: $theme
        position: absolute
        transform: translate(-1.5em, -0.5em)
        font-weight: bold
        width: 1.5em
        padding: 0.5em 0
        text-align: center
      &:hover:before
        opacity: 1
  h2
    font-size: 1.5em
    padding-bottom: .7em
    border-bottom: 1px solid $border
  h3
    font-size: 1.2em
  h2 + h3
    margin-top: 1em
  p, ul, ol, dd, imgbox
    margin: 1em 0
    line-height: 1.6em
    z-index: 1
  li > ol
    list-style: lower-latin
    li > ol
      list-style: lower-roman
  li > ul, li > ol
    margin: 0.5em 0
  li
    margin: 0.5em 0
    > p:first-child:not(:only-of-type)
      font-weight: bolder
  ul, ol
    padding-left: 1.5em
    // FIX: Some link click targets are covered without this
    position: inherit
  a
    color: $theme
    &[href^="#"]
      color: darken(@color, 30)
    &:hover
      color: darken(@color, 20)
    &:active
      color: lighten(@color, 10)
    code, pre
      color: $theme
  hr.footnotes-sep
    margin: 48px -4px 0
  iframe
    margin: 1em 0
  @media screen
    h1:target, h2:target, h3:target, h4:target, h5:target, h6:target
      &:before
        content: ''
        display: block
        visibility: hidden
        margin-top: -120px
        height: 120px
    :target:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6)
      outline: $theme solid 2px
      animation: targetfocus 0.001s, outline-blink 0.8s 5 forwards
        
.gist .gist-meta
  user-select: none

@media print
  .gist
    page-break-inside: avoid
    .gist-data
      page-break-inside: avoid
    .gist-meta 
      a[style*='float']
        display: none
      a[href$='github.com'], a[href$='github.com/']
        &:link:after, &:visited:after
          content: ""
