@use "sass:math";

mat-sidenav-container {
  height: 100%;
  @media print {
    background-color: white;
  }
  &.no-nav {
    mat-sidenav-content {
      margin: 0 !important;
    }
    mat-sidenav {
      visibility: hidden !important;
    }
  }
}

$content-padding-lr: 24px;

mat-sidenav {
  width: 320px;
  @media print {
    display: none;
  }
}

mat-sidenav-content {
  @media print {
    margin: 0 !important;
    overflow: visible;
  }
  $toc-width: 240px;
  app-toc {
    position: absolute;
    user-select: none;
    width: $toc-width;
    padding: 20px 0;
    margin: 0 24px;
    right: -$toc-width;
    top: 0;
    bottom: 0;
    display: none;
  }
  #scroll {
    padding: 0 $content-padding-lr;
    @media (max-width: 600px) {
      padding: 0 math.div($content-padding-lr, 2);
    }
    position: relative;
    @media screen {
      height: 100%;
      will-change: scroll-position;
      scroll-behavior: smooth;
      overflow: auto;
    }
  }
  #scroll-container {
    padding: 24px 0;
    margin: auto;
    @media screen {
      max-width: 800px;
    }
    mat-card {
      user-select: none;
    }
  }
  &.toc {
    @media screen and (min-width: 960px) {
      #scroll {
        padding-right: $toc-width + $content-padding-lr;
      }
      app-toc {
        display: block;
        right: 0;
      }
    }
  }
}
