:host {
  display: flex;
  flex-direction: column;
  @media screen {
    height: 100vh;
    main {
      flex: 1;
      overflow-y: auto;
    }
  }
}

mat-toolbar {
  @media print {
    display: none;
  }
  gap: 24px;
  z-index: 10;
  app-navbar {
    flex: 1;
  }
}

#menu-button.hidden {
  visibility: hidden;
}
