:host {
  display: flex;
  flex-direction: column;
  @media screen {
    height: 100vh;
    ::ng-deep router-outlet + * {
      flex: auto;
      overflow-y: auto;
    }
  }
}

app-navbar {
  @media print {
    display: none;
  }
}
