.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;

  &:not(caption) {
    position: absolute !important;
  }
}

[hidden],
.hidden {
  display: none;
}

slot,
.slot {
  display: contents;
}

.center,
center {
  text-align: center;
}

ol,
ul {
  ol,
  ul {
    --ifm-list-left-padding: 1rem;
  }
}

figure {
  margin: 1em 0;
  page-break-inside: avoid;

  > svg,
  > img,
  > cwe-embed-media,
  > video {
    display: block;
    margin: auto;
  }

  > figcaption {
    margin: 0.4em;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    color: var(--ifm-color-primary);

    &:empty {
      display: none;
    }
  }
}

svg {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  overflow: clip;
}

dl,
dt,
dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

dl {
  --dl-border-radius: 0.4rem;
  margin: var(--ifm-leading) 0;
}

dt {
  border: 1px solid var(--ifm-color-primary-contrast-background);
  border-top-left-radius: var(--dl-border-radius);
  border-top-right-radius: var(--dl-border-radius);

  color: var(--ifm-color-primary-contrast-foreground);
  background: var(--ifm-color-primary-contrast-background);

  font-size: 1.2em;
  font-weight: bolder;

  margin-top: var(--ifm-leading);
  padding: calc(var(--ifm-leading) * 0.3) 0.8rem;

  + dt {
    border-radius: 0;
    border-top: none;
    margin-top: 0;

    &::before {
      position: absolute;
      top: calc(-0.5 * var(--ifm-hr-height));
      height: var(--ifm-hr-height);
      left: 0.75rem;
      right: 0.75rem;
      content: '';
      background: var(--ifm-color-primary-contrast-foreground);
    }
  }
}

dd {
  border: 1px solid var(--ifm-color-primary-contrast-background);
  border-top: none;
  padding: calc(var(--ifm-leading) * 0.8) 1rem;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

mark {
  color: inherit;
  background-color: #c2bf0050;
}

table {
  margin-left: auto;
  margin-right: auto;
  display: table;
  position: relative;
}
