.visually-hidden {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;

  &:not(caption) {
    position: absolute !important;
  }
}

[hidden],
.hidden {
  display: none;
}

.center,
center {
  text-align: center;
}

ol,
ul {
  ol,
  ul {
    --ifm-list-left-padding: 1rem;
  }
}

figure {
  margin: 1em 0;
  page-break-inside: avoid;

  > img {
    display: block;
    margin: auto;
  }

  > figcaption {
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    color: var(--ifm-color-primary);

    &:empty {
      display: none;
    }
  }
}

dl,
dt,
dd {
  display: block;
}

dl {
  margin: var(--ifm-leading) 0;
}

dt {
  font-size: 1.2em;
  font-weight: bolder;
  margin-top: var(--ifm-leading);

  + dt {
    margin-top: calc(var(--ifm-leading) * 0.25);
  }
}

dd {
  margin-inline-start: 1rem;
  margin-top: calc(var(--ifm-leading) * 0.5);

  + dd {
    margin-top: calc(var(--ifm-leading) * 0.75);
  }

  > p:first-child {
    margin-top: var(--ifm-leading);
  }
}

mark {
  color: inherit;
  background-color: #c2bf0050;
}
