.footer {
  --ifm-footer-link-hover-color: var(--ifm-color-gray-500);
  --ifm-link-hover-decoration: none;
  user-select: none;
}

.footer__copyright-sep {
  display: inline-block;
  width: 1em;

  @media (max-width: 996px) {
    display: none;
  }
}

.footer__beian-link {
  font-size: 0;
  &::before {
    font-size: 1rem;
  }
  :root[data-hostname$='.cloudpss.com.cn'] &::before {
    content: '蜀 ICP 备 2021015330 号 - 1';
  }
  :root[data-hostname$='.cloudpss.cn'] &::before {
    content: '蜀 ICP 备 2021015330 号 - 2';
  }
  :root[data-hostname$='.cloudpss.net'] &::before {
    content: '蜀 ICP 备 2021015330 号 - 3';
  }
}
