.markdown {
  user-select: text;

  * {
    scroll-margin-top: calc(var(--ifm-navbar-height) + 0.5rem);
  }

  .center {
    text-align: center;
  }

  figure {
    margin: 1em 0;

    > img {
      display: block;
      margin: auto;
    }

    > figcaption {
      text-align: center;
      font-size: 0.8em;
      font-weight: 700;
      color: var(--ifm-color-primary);

      &:empty {
        display: none;
      }
    }
  }
}
