.markdown {
  user-select: text;

  * {
    scroll-margin-top: calc(var(--ifm-navbar-height) + 0.5rem);
  }

  ol,
  ul {
    ol,
    ul {
      --ifm-list-left-padding: 1rem;
    }
  }

  [data-footnote-ref] {
    &::before {
      content: '[';
    }
    &::after {
      content: ']';
    }
  }

  [data-footnotes] {
    margin-top: 2.5rem;
    border-top: var(--ifm-hr-height) solid var(--ifm-hr-background-color);

    --ifm-list-paragraph-margin: 0.5rem;
    --ifm-paragraph-margin-bottom: 0.5rem;

    > ol {
      counter-reset: footnotes 0;
      > li {
        margin-top: 1rem;
        counter-increment: footnotes 1;
        &::marker {
          content: '[' counter(footnotes) '] ';
        }
      }
    }
  }

  [data-footnote-backref] {
    user-select: none;
  }

  figure {
    margin: 1em 0;
    page-break-inside: avoid;

    > img {
      display: block;
      margin: auto;
    }

    > figcaption {
      text-align: center;
      font-size: 0.8em;
      font-weight: 700;
      color: var(--ifm-color-primary);

      &:empty {
        display: none;
      }
    }
  }

  span.katex {
    user-select: none;

    .katex-mathml {
      annotation {
        display: block;
        user-select: all;
      }
    }
    .katex-html {
      user-select: none;
    }
  }
}
