.navbar,
.navbar-sidebar__brand {
  app-region: drag;
  user-select: none;

  --ifm-navbar-padding-left: calc(var(--ifm-navbar-padding-horizontal) + var(--titlebar-area-x));
  --ifm-navbar-padding-right: max(
    var(--ifm-navbar-padding-horizontal),
    calc(
      var(--ifm-navbar-padding-horizontal) + var(--ifm-navbar-full-width) - var(--titlebar-area-x) -
        var(--titlebar-area-width)
    )
  );

  --ifm-navbar-full-width: 100vw;

  padding-left: var(--ifm-navbar-padding-left);
  padding-right: var(--ifm-navbar-padding-right);
  min-height: calc(var(--titlebar-area-y) + var(--titlebar-area-height));
}

@supports (backdrop-filter: blur(20px)) and (color: color(from var(--ifm-navbar-background-color) srgb r g b / 0.75)) {
  .navbar {
    backdrop-filter: blur(20px);
    background-color: color(from var(--ifm-navbar-background-color) srgb r g b / 0.75);
  }
}

.navbar-sidebar__backdrop,
.navbar-sidebar {
  height: 100vh;
  height: 100dvh;
}

.navbar-sidebar__brand {
  --ifm-navbar-full-width: var(--ifm-navbar-sidebar-width);
}

.navbar__items--right {
  --ifm-navbar-padding-horizontal: var(--ifm-navbar-padding-right);
}

.navbar__item,
.navbar__toggle,
.navbar__brand,
.navbar__search-input,
.navbar-sidebar,
input,
button,
a,
.dropdown * {
  app-region: no-drag;
}

.main-wrapper,
.footer {
  app-region: no-drag;
}

.navbar__logo {
  app-region: drag;
}

.navbar__search {
  [data-theme='dark'] & {
    --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="%23ebf2fc" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
  }

  --search-local-modal-background: var(--ifm-background-surface-color);

  input {
    outline: transparent solid 2px;
    outline-offset: 0;

    transition: outline-color 0.15s ease-in-out;

    &:hover {
      outline-color: var(--ifm-color-emphasis-300);
    }
    &:focus,
    &:focus-visible {
      outline-color: var(--ifm-color-emphasis-500);
    }
  }

  span[role='listbox'] {
    --search-local-modal-width-sm: 100vw;
    max-width: calc(100vw - 4rem);
    @media (max-width: 996px) {
      right: calc(-1 * var(--ifm-navbar-padding-right) + 1rem) !important;
    }
  }

  kbd {
    text-transform: uppercase;
    padding-top: 0.1rem;
  }
}
