:root {
  --titlebar-area-x: 0px;
  --titlebar-area-y: 0px;
  --titlebar-area-width: 100vw;
  --titlebar-area-height: 32px;
}

@supports (width: env(titlebar-area-width)) {
  :root:not(:fullscreen) {
    --titlebar-area-x: env(titlebar-area-x, 0px);
    --titlebar-area-y: env(titlebar-area-y, 0px);
    --titlebar-area-width: env(titlebar-area-width, 100vw);
    --titlebar-area-height: max(32px, env(titlebar-area-height, 32px));
  }
}
